
/* Main site with qoutes --------------------------------------------- */
body {
    margin: 0;
    padding: 40px;

    line-height: 1.4;
  }
.quotes{
    
}


/* Add text --------------------------------------------- */
.add-text{
    margin-top: 40px;
  max-width: 400px;
  background-color: var(--color-near-white);
  border: 1px solid var(--color-beige);
  padding: 20px;
  box-shadow: rgba(36, 35, 39, 0.4) -1px 7px 10px;
}
label {
    display: block;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 6px;
  }
  
  button {
    margin-top: 20px;
    color: var(--color-beige);
    padding: 8px 10px;
    border-radius: 4px;
  }

  .quoteItem{
    margin-top: 40px;
    max-width: 400px;
    background-color: var(--color-near-white);
    border: 1px solid var(--color-beige);
    padding: 20px;
    box-shadow: rgba(36, 35, 39, 0.4) -1px 7px 10px;
  }

  /* Add comment --------------------------------------------- */
.add-comment{
  margin-top: 40px;
  max-width: 400px;
  background-color: var(--color-near-white);
  border: 1px solid var(--color-beige);
  padding: 20px;
  box-shadow: rgba(36, 35, 39, 0.4) -1px 7px 10px;
}
.comment{
  margin-top: 40px;
  max-width: 400px;
  background-color: var(--color-near-white);
  border: 1px solid var(--color-beige);
  padding: 20px;
  box-shadow: rgba(36, 35, 39, 0.4) -1px 7px 10px;
}